dist: trusty
language: node_js
node_js:
  - "10"
  - "11"
  - "12"
  - "13"
  - "14"
services:
  - mongodb
install:
  - npm install
env:
  - HTTPBIN=httpbin.bemisc.com MONGO_URL=mongodb://localhost/test
script: npm run lint && npm run build && npm test
after_success: npm run coveralls
cache:
  npm: false
 