name: Deploy Workflow
on:
  push:
    tags:
      - "*"
jobs:
  build:
    name: Deploy
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - name: Start MongoDB instance
        uses: supercharge/mongodb-github-action@1.11.0
        with:
          mongodb-version: 7.0
      - name: Print Node.js information
        run: node --version
      - name: Install package
        run: npm install
      - name: Install package (development)
        run: npm install --only=dev
      - name: Build package
        run: npm run build
      - name: Verify Javascript code linting
        run: npm run lint
      - name: Run unit tests
        run: npm test
        env:
          MONGO_URL: mongodb://localhost/test
      - name: Deploy package to NPM
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
